.fintoc-blue {
  color: #060235;
}

.fintoc-primary {
  color: #3753ff;
}

.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.font-sz-14 {
  font-size: 14px;
}

.font-sz-16 {
  font-size: 16px;
}

.font-sz-18 {
  font-size: 18px;
}

.font-sz-20 {
  font-size: 20px;
}

.font-sz-24 {
  font-size: 24px;
}

.color-txt-heading {
  /* Text/Heading */
  color: #060235;
}
  
.color-txt-body {
/* Text/Body */
  color: #4A4672;
}
  
.color-txt-sec-and-cap {
/* Secondary & Caption */
  color: #656289;
}
  
.color-txt-disable {
  /* Disable */
  color: #B6B5C2
}
